.task_form, .task_list_form
  :margin-bottom 10px
  .text_field
    :padding-right 10px
    input
      :width 100%
      :border
        :top solid 1px rgb(90,90,90)
        :left solid 1px rgb(150,150,150)
        :bottom solid 1px rgb(150,150,150)
        :right solid 1px rgb(90,90,90)
  .select
    label
      :padding-top 3px
    input
      :padding 0px
      :margin 0px
  .submit
    :width 100%
    :text-align right
    input
      :float none

.archive
  :background rgb(255,255,200)
  :border 1px rgb(220,220,150) solid
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  :padding 20px
    :top 10px
  :text-align center
  p
    :font-size 13px
    :margin-bottom 10px